.parent{
    width: 400px;
    background:crimson ;
    border: 1px solid crimson;
    padding: 10px;
}
.child{
    width: 300px;
    background:green ;
    border: 1px solid green;
    padding: 10px;
}
.grandson{
    width: 200px;
    height: 200px;
    background:skyblue ;
    border: 1px solid skyblue;
}